.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}


.logo {
    font-family:'PT_Sans_Caption';
    font-weight: bold;
    font-size: 38px;
    padding-left: 158px;
    padding-top: 34px;
    padding-bottom: 30px;
    margin-right: 985px;
    background-repeat: no-repeat;
    width: 175.76px;
    background: url("img/Group 2.png") no-repeat;
    background-size: 50px;
    background-position: center;
}



.main__subtitle {
  position: absolute;
  width: 868px;
  font-family:'PT_Sans_Caption';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
}

.main {
  background: bottom center no-repeat url("Frame/iPhone XS.SVG");
  padding-bottom: 567px;
  background-size: 25vw 25vw;
  background-image: 20px;
}

::-webkit-scrollbar {
  width: 0;
}


.main__title {
  font-family:'PT_Sans_Caption';
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  width: 44%;
  padding-top: 75px;
  margin: auto;
}



.menu {
  display: flex;
  align-items: center;
  width: 16%;
  justify-content: space-between;
  margin-right: 205px;
  padding-top: 21px;
}

.menu__item {
  position: relative;
  margin-right: 25px;
  font-family: 'PT_Sans_Caption';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #504A62;
  text-decoration: none;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover {
  opacity: .5;
  cursor: pointer;
}
.menu__item:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #D2691E;
  left: 0;
  opacity: 0;
  transition: opacity .3s;
}
.menu__item:hover:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #D2691E;
  left: 0;
}
.menu__item:hover:after {
  opacity: 1;
}


body {
  background-image: url("img/Group (1).png"), url("img/Group (2).png");
  background-repeat: no-repeat;
  background-position: left center, right center;
  margin: 0;
}

.appstore {
padding-top: 60px;
padding-right: 35.37px;
margin-top: -4px;
}

.googleplay {
padding-top: 60px;
margin-top: -4px;
}

.img{
  width: 192px;
  height: 150px;
}
div{
  display: flex;
  justify-content: center;
}

@media (min-width: 1231px) and (max-width: 1600px) {
  .wrapper {
    margin: auto;
    width: 80%;
  }

  .header {
    margin-bottom: 80px;
  }

.logo {
  font: 700 28px/37px 'PT_Sans_Caption';
  font-weight: bold;
  padding-left: 118px;
  margin-right: 429px;
  background-size: 34px;
}


.main {
  background: bottom center no-repeat url("Frame/iPhone XS.SVG");
  padding-bottom: 427px;
  background-size: 28vw 27vw;
  background-image: 20px;
}

::-webkit-scrollbar {
  width: 0;
}


.main__title {
  font-family:'PT_Sans_Caption';
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  width: 53%;
  margin-top: -102px;
}


.menu {
  display: flex;
  align-items: center;
  width: 18%;
  justify-content: space-between;
  margin-right: 167px;
  padding-top: 15px;
}


.menu__item {
  font: 700 14px/29px 'PT_Sans_Caption';
  position: relative;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  margin-right: 23px;
}

.appstore {
display: inline-block;
width: 134px;
height: 44px;
padding-top: 60px;
padding-right: 24.37px;
margin-top: -22px;
}

.googleplay {
display: inline-block;
width: 134px;
height: 44px;
padding-top: 60px;
margin-top: -22px;
}

body {
  height: 767px;
  background: bottom left no-repeat url("img/Group (3)1366.png"), top right no-repeat url("img/Group (4)1366.png");

}

@media (max-width: 1170px) {
  .wrapper {
    margin: auto;
    width: 80%;
  }

  .header {
    margin-bottom: 80px;
  }

.logo {
  font: 700 18px/36px 'PT_Sans_Caption';
  font-weight: bold;
  padding-left: 124px;
  margin-right: 315px;
  background-size: 35px;
}


.main {
  background: bottom center no-repeat url("Frame/iPhone XS.SVG");
  padding-bottom: 327px;
  background-size: 28vw 27vw;
  background-image: 20px;
}

.main__title {
  font-family:'PT_Sans_Caption';
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  width: 53%;
  margin-top: -122px;
}


.menu {
  display: flex;
  align-items: center;
  width: 18%;
  justify-content: space-between;
  margin-right: 163px;
  padding-top: 8px;
}


.menu__item {
  font: 700 13px/25px 'PT_Sans_Caption';
  position: relative;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.appstore {
display: inline-block;
width: 134px;
height: 44px;
padding-top: 60px;
padding-right: 24.37px;
margin-top: -22px;
}

.googleplay {
display: inline-block;
width: 134px;
height: 44px;
padding-top: 60px;
margin-top: -22px;
}

body {
  height: 653px;
  background: bottom left no-repeat url("img/Group (3)1366.png"), top right no-repeat url("img/Group (4)1366.png");

}
