.header {
  display: flex;
  justify-content: space-between;

}


.logo {
    font-family:'PT_Sans_Caption';
    font-weight: bold;
    font-size: 35px;
    margin-left: -490px;
    padding-top: 36px;
    padding-bottom: 40px;
    padding-left: 219px;
    background-repeat: no-repeat;
    width: 175.76px;
    background: url("img/Group 2.png") no-repeat;
    background-size: 44px;
    background-position: center;
}



.main {
  background: bottom center no-repeat url("Frame/iPhone XS.SVG");
  padding-bottom: 564px;
  background-size: 25vw 25vw;

}

::-webkit-scrollbar {
  width: 0;
}


.main__title {
  font-family:'PT_Sans_Caption';
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  width: 46%;
  padding-top: 69px;
  margin: auto;
}



.menu {
  display: flex;
  align-items: center;
  width: 16%;
  justify-content: space-between;
  margin-right: 204px;
  padding-top: 15px;
}

.menu__item {
  position: relative;
  margin-right: 25px;
  font-family: 'PT_Sans_Caption';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #504A62;
  text-decoration: none;

}

.menu__item:last-child {
  margin-right: 0;

}

.menu__item:hover {
  opacity: .5;
  cursor: pointer;

}
.menu__item:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #D2691E;
  left: 0;
  opacity: 0;
  transition: opacity .3s;

}
.menu__item:hover:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #D2691E;

  left: 0;
}
.menu__item:hover:after {
  opacity: 1;

}


body {
  background-image: url("img/Group (1).png"), url("img/Group (2).png");
  background-repeat: no-repeat;
  background-position: left center, right center;

  margin: 0;
}

.appstore {
padding-top: 55px;
padding-right: 30.37px;
margin-left: 747px;

}

.googleplay {
padding-top: 40px;
margin-top: 14px;

}

.img{
  width: 192px;
  height: 150px;

}


@media (max-width: 1366px) {

  .header {
    margin-bottom: 80px;

  }

.logo {
  font: 700 27px/35px 'PT_Sans_Caption';
  font-weight: bold;
  padding-left: 218px;
  margin-right: 390px;
  background-size: 34px;
  margin-left: -40px;

}


.main {
  background: bottom center no-repeat url("Frame/iPhone XS.SVG");
  padding-bottom: 421px;
  background-size: 28vw 27vw;
  background-image: 20px;

}

::-webkit-scrollbar {
  width: 0;
}


.main__title {
  font-family:'PT_Sans_Caption';
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  width: 53%;
  margin-top: -105px;

}


.menu {
  display: flex;
  align-items: center;
  width: 18%;
  justify-content: space-between;
  margin-right: 167px;
  padding-top: 8px;

}


.menu__item {
  font: 700 14px/29px 'PT_Sans_Caption';
  position: relative;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  margin-right: 23px;

}

.appstore {
display: inline-block;
width: 134px;
height: 44px;
padding-top: 60px;
padding-right: 24.37px;
margin-top: -22px;
margin-left: 537px;

}

.googleplay {
display: inline-block;
width: 134px;
height: 45px;
padding-top: 60px;
margin-top: -22px;
margin-left: -4px;

  }
}

body {
  height: 767px;
  background: bottom left no-repeat url("img/Group (3)1366.png"), top right no-repeat url("img/Group (4)1366.png");


}

@media (max-width: 1170px) {


.logo {
  font: 700 27px/35px 'PT_Sans_Caption';
  font-weight: bold;
  margin-left: -140px;
  background-size: 34px;
  padding-bottom: 38px;

}


.main {
  background: bottom center no-repeat url("Frame/iPhone XS.SVG");
  padding-bottom: 437px;
  background-size: 33vw 34vw;
  background-image: 20px;

}

::-webkit-scrollbar {
  width: 0;

}

.main__title {
  font-family:'PT_Sans_Caption';
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  width: 65%;
  margin-top: -103px;

}


.menu {
  display: flex;
  align-items: center;
  width: 13%;
  justify-content: space-between;
  margin-right: 162px;
  padding-top: 9px;

}


.menu__item {
  font: 700 14px/25px 'PT_Sans_Caption';
  position: relative;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;

}

.appstore {
display: inline-block;
width: 210px;
height: 44px;
padding-top: 60px;
padding-right: 24.37px;
margin-top: -22px;
margin-left: 400px;

}

.googleplay {
display: inline-block;
width: 134px;
height: 44px;
padding-top: 60px;
margin-top: -22px;
margin-left: -42px;

}

body {
  height: 770px;
  background: bottom left no-repeat url("img/Group (5).png"), top right no-repeat url("img/Group (6).png");


  }
}

@media (max-width: 667px) {


  .menu {
  display: none;
  text-align: center;
  margin-top: 30px;
  flex-direction: column;
  position: absolute;
  z-index: 1;

  }

  .menu__item {
  font: 700 30px/35px 'MuseoSansCyrl700';
  display: block;
  margin: 0 0 24px 0;

  }

  .logo {
    font: 700 20px/61px 'PT_Sans_Caption';
    font-weight: bold;
    margin-left: -144px;
    padding-right: 130px;
    background-size: 26px;

    }

    .main {
      background: bottom center no-repeat url("Frame/iPhone XS.SVG");
      padding-bottom: 141px;
      margin-top: -122%;
      margin-right: 190px;
      background-size: 42vw 42vw;
      background-image: 20px;

    }

    .main__title {
      font-family:'PT_Sans_Caption';
      font-weight: bold;
      font-style: normal;
      font-size: 12px;
      text-align: center;
      width: 75%;
      padding-top: 335px;
      margin-right: 25px;

    }

    .appstore {
    display: inline-block;
    width: 53px;
    height: 44px;
    padding-top: 63px;
    padding-right: 43.37px;
    margin-top: -63px;
    margin-left: 36px;

    }

    .googleplay {
    display: inline-block;
    width: 55px;
    height: 44px;
    padding-top: 94px;
    margin-top: -73px;

    }


    .menu__burger {
     display: flex;
     align-items: center;
     position: absolute;
     top: 56px;
     left: 41%;
     width: 14px;
     height: 10px;
     cursor: pointer;
     z-index: 1;

   }

   .menu__burger > span,
   .menu__burger > span::before,
   .menu__burger > span::after {
     display: block;
     position: absolute;
     top: 90%; margin-top: -31px;
     left: 90%; margin-left: -10px;
     width: 12px;
     height: 2px;
     background-color: #FF9100;

   }
   .menu__burger > span::before,
   .menu__burger > span::after {
     content: '';
     display: block;
     top: 30px;

   }

   .menu__burger span::before {
     transform: translateY(-5px);

   }
   .menu__burger span::after {
     transform: translateY(-2px);

   }

   .menu__burger_active span:before {
     transform: rotate(-35deg);

     width: 10px;
     transform-origin: left bottom;

   }
   .menu__burger_active span:after {
     transform: rotate(35deg);
     width: 10px;
     transform-origin: left top;

   }


   #checkbox:checked ~ .menu__burger > span {
    transform: rotate(45deg);

  }
  #checkbox:checked ~ .menu__burger > span::before {
    top: 0;
    transform: rotate(0);

  }
  #checkbox:checked ~ .menu__burger > span::after {
    top: 0;
    transform: rotate(90deg);

  }

  #checkbox:checked ~ .menu {
    display: flex;
    background-color: #fff;
    padding: 0;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    margin: 0;
    z-index: 0;

  }

  #checkbox {
    display: none;

  }


 .menu__box {
     display: block;
     position: fixed;
     visibility: hidden;
     top: 0;
     left: -100%;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 175px 0;
     list-style: none;
     text-align: center;
     background-color: white;
     z-index: 5;

     }


  body {
    background: white;

  }
}
